BODY {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}

P {
  margin: 0;
  padding-bottom: 20px;
}

.l-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  min-height: 100vh;
  height: 100vh;
  margin: 0 auto;
}
.l-page__footer {
  padding: 20px 0;
  text-align: center;
  background: rgba(158, 158, 158, 0.1);
      z-index: 1;
}

.l-main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.l-main__header {
  padding: 20px 0;
  text-align: center;
  background: rgba(158, 158, 158, 0.1);
}
.l-main__content {
  background: #f0a;
}
